<div style="color: black">
<div>Email Verification</div>
<br/>
<h1>Hi <%= user.name %></h1>
<br/>
<div>
    <h3>Click on this link to get verified <%=VERIFY_URL %></h3>
    <!-- <button>Verify Email</button> -->
</div>
</div>